.container{
    width: 500px;
    height: 500px;

    display: flex;
    padding: 20px;
    border: orange solid 5px;

    flex-wrap: wrap;
    gap: 1px;
    
    justify-content: center;
    align-items: center;
    align-content: flex-start;

}

.square{
    display: flex;
    border: black solid 1px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}