body {
    background-color: #1B3C53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header{
    color: #E3E3E3;
    font-family: "Jazz LET", fantasy;
    font-size: 40px;
    font-weight: 900;
}

.container{
    width: 500px;
    height: 500px;
    border: #456882 solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.buttonGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 50px;
}

button{
    background-color: #234C6A;
    color: #E3E3E3;
    height: 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: #E3E3E3;
}

.square{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: #E3E3E3 solid 1px;
    display: flex;
}

.hover{
    background-color: black;
}